.DS_Store

#kicad files
*.lck
*-backups
*-bak
*.bak
*.kicad_prl
fp-info-cache
pcb/export
_autosave-*
*auto_saved_files*
*.csv

output
pcb/RemoteStation/RemoteStation
pcb/RemoteStation/RemoteStation.xml
pcb/device_test/#auto_saved_files#

# docs files
docs/_site
docs/.jekyll-cache
Gemfile.lock
